@charset="utf-8";

*{
  margin:0;
  padding:0;
  list-style:none;
outline: none;
}



body{
background-color:#4D4D4F;
   font-family:"Roboto", "游ゴシック","ヒラギノ角ゴシック",sans-serif;
/*       background-image: url(movieback1-min.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
}

#bgvideo{
    width: 100%;
    position: fixed;
    z-index: -1000;       
}
/*
.filter{
        background-color: rgba(0,0,0,0.5);
    height: auto;
}
*/


header{
border-top:5px solid #722319;
 padding-top: 10px;
padding-left: 50px;
 color:#FFFEF6;
    height: 80px;
    
}

main{
text-align:center;
padding-top: 550px;
}
table{
    margin-left: auto;
    padding-bottom: 10px;
}
#table1{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
td{
  padding-right: 50px;
}
.td1{
    padding: 30px 5px;
    padding-bottom: 40px;
}
header ul{
    text-align:right;
}
li{
    display: inline;
    margin: 0px 10px;
    
}

.aLink{
    color: #FFFEF6;
    padding-bottom: 5px;
}
.aLink:hover{
    color: #808080;
    border-bottom:solid 3px #FFFEF6;
}
footer{
   background-color:#0d0d0d;
   border-bottom:3px solid #722319;
   color:#FFFEF6;
   text-align:center;
  padding-top:15px;
}
footer ul{
    margin-bottom: 100px;
}
/*
.btn{
background-color: rgba(0,0,0,0.8);
    padding: 30px 60px;
    margin: 100px 500px;
    font-size: 30px;
    cursor: pointer;
    color: #FFFFF6;

}
*/
a{
    text-decoration: none;
}

.sp{
    display: none;
}
.pc{
    display: block;
}
hr{
    height: 1px;
    background-color: #EEEEEE;
    border: none;
    width: 80%;
    margin: 50px auto;
}
#contactimg{
    margin-top: 50px;
    margin-bottom: 70px;
}
.backtop{
    margin:40px 0px;
}
p{
   color:#FFFEF6; 
}
.p1{
    margin-top: 30px;
}
.p2{
   padding-bottom: 40px;
}
h1{
    color:#FFFEF6;
}
h2{
    color:#FFFEF6;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.AnsBtn{
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.AnsBtn label{
    border-radius: 30px;
    background-color: #0d0d0d;
    padding: 15px 80px;
    color: #FFFEF6;
    cursor: pointer;
    border: none;
    outline: none;
}
.AnsBtn label:hover{
    background: #222222;
}
.AnsBtn input{
    display: none;
}

.AnsBtn .hidden{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.AnsBtn input:checked ~ .hidden{
    padding: 10px;
    height: auto;
    opacity: 1;
    margin-top: 50px;
}
.Q1 a{
    color: #FFFEF6;
    text-decoration: none;
    border-radius: 30px;
    background-color: #0d0d0d;
    padding: 15px 80px;
    color: #FFFEF6;
    cursor: pointer;
    border: none;
    outline: none;
}
.Q1 a:hover{
     background: #222222;
}
.Q1{
margin: 50px 0;
}
.game a{
    color: #FFFEF6;
    text-decoration: none;
    border-radius: 30px;
    background-color: #0d0d0d;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    color: #FFFEF6;
    cursor: pointer;
    border: none;
    outline: none;
    
}
.game a:hover{
     background: #222222;
}
.game{
    margin: 50px 0px;
}



@media screen and (max-width:600px) {
    img{
        max-width: 100%;
        height: auto;
    }
    body{
    background-image:url(zemiback1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
 header ul{
  text-align:right;
}
    li{
        display: list-item;
    }
    
    header {
      padding-left: 10px;
    }
    
    box{
        display: none;
    }
    .sp{
    display: block;
    }
    .sp img{
        max-width: 90%;
    }
    .sp p{
        font-size: 5vw;
    }
.pc{
    display:none;
}
    .sph1{
        font-size: 8vw;
    }
.AnsBtn{
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.AnsBtn label{
    border-radius: 30px;
    background-color: #0d0d0d;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFEF6;
    cursor: pointer;
    border: none;
    outline: none;
}
.AnsBtn label:hover{
    background: #222222;
}
.AnsBtn input{
    display: none;
}

.AnsBtn .hidden{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.AnsBtn input:checked ~ .hidden{
    padding: 10px;
    height: auto;
    opacity: 1;
    margin-top: 50px;
}   
.Q1 a{
    color: #FFFEF6;
    text-decoration: none;
    border-radius: 30px;
    background-color: #0d0d0d;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFEF6;
    cursor: pointer;
    border: none;
    outline: none;
}
.Q1{
margin: 50px 0;
}
}
